@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 8.5px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}
#temperature {
  margin-left: 8.5px;
  margin-right: 8.5px;
}
#battery {
  min-width: 15px;
  margin-right: 7.5px;
}
#battery.bat2 {
  min-width: 15px;
  margin-right: 7.5px;
}
#pulseaudio {
  min-width: 15px;
  margin-right: 7.5px;
}
#custom-omarchy {
  min-width: 12px;
  margin-right: 7.5px;
}
#custom-screenrecording-indicator {
  min-width: 12px;
  margin-right: 7.5px;
}
#custom-update {
  min-width: 12px;
  margin-right: 7.5px;
}
#custom-media {
    margin-left: 8.5px;
    margin-right: 8.5px;
    min-width: 150px;
}

#custom-media.playing {
    color: #ffffff;
    opacity: 1;
}

#custom-media.paused {
    color: #666666;
}

/*
#custom-media.stopped {
    opacity: 0;
    padding: 0;
    margin: 0;
}
*/

#custom-media:hover {
    background-color: #1a1a1a;
}
#tray {
  min-width: 12px;
  margin-right: 7.5px;
}

#bluetooth {
  min-width: 1px;
  margin-right: 7.5px;
}

#network {
  min-width: 15px;
  margin-right: 7.5px;
}

#custom-expand-icon {
  min-width: 12px;
  margin-right: 7.5px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#window {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#custom-weather {
  margin-right: 8.5px;
}
#clock {
  margin-right: 8.5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
